      <br>
<div class="row" id="month_year">
    <select class="span2" name="year">
    <option value="2015" selected>2015</option>
    <option value="2016" >2016</option>
    <option value="2017" >2017</option>
    <option value="2018" >2018</option>
    <option value="2019" >2019</option>
    </select>年
    <select  class="span2" name="month">
    <option value="9" selected>9</option>
    <option value="10" >10</option>
    <option value="11" >11</option>
    <option value="12" >12</option>
    </select>月
</div>

<div id="attendance_form"
     style="width:100%; height:80%; overflow:auto; border:1px solid #000000;padding: 0px;">
      <form >
          <table class="formdata  table table-bordered ">
              <caption>考勤系统</caption>
              <thead>
                  <tr>
                      <th>序号</th>
                      <th>姓名</th>
                      <th scope="col" id="project_name">实际项目</th>
                      #foreach($item in $!month.dateList)
                          <th scope="col" class="date$!velocityCount">$item</th>
                      #end
                      <th scope="col">加班合计</th>
                  </tr>
              </thead>
              <td class="hidden" id="edit_state">1</td>
              <tbody>
                  #foreach($attend in $!list)#*行数*#
                  #set($t=$!velocityCount)
                      <tr scope="row" >
                          <td>$!t </td>
                          <td style="width: 80px" >$!attend.realName</td>
                          <td style="width: 120px" >$!attend.projectName</td>
                          #set($count=0)
                          #foreach($item in $!month.dateList)#*列数*#
                              #set($count=1)
                              #set($workhours=0)
                              #set($readonly=true)
                              #set($date="")
                              #set($userId="")
                              #foreach($att in $attend.attendanceList)#*匹配*#
                                  #set($date=$!att.date)
                                  #set($userId=$!att.userId)
                                  #if($!item == $!att.day)
                                      #set($count=2)
                                      #set($workhours=$!att.workhours)#if($workhours==0)#set($workhours="")#end
                                      #set($readonly=$!att.readonly)
                                  #end
                              #end
                              #*count为2时 日期属性跟X轴日期对应*#
                              #if($count==2)
                                  #if($readonly==true)
                                      <td>$!workhours</td>
                                  #else
                                      <td><span hidden>"userId":$!userId,"date":"$!item"</span>
                                          <input type="text" class="attend$!velocityCount$!t" value="$!workhours" readonly style="background-color:transparent;"/>
                                      </td>
                                  #end
                              #end
                              #if($count==1)
                                  #if($readonly==true)
                                      <td></td>
                                  #else
                                      <td><span hidden>"userId":$!userId,"date":"$!item"</span>
                                          <input type="text" class="attend$!velocityCount$!t" readonly style="background-color:transparent;"/></td>
                                  #end
                              #end
                          #end
                          <td>$!attend.allOverhours</td>
                      </tr>
                  #end
              </tbody>
          </table>
          <div class="pull-right" >
              <button class="btn btn-info" id="attendance_edit" type="button">考勤编辑</button>
              <button class="btn btn-info hidden" id="attendance_cancle" type="button" >取消</button>
              <button class="btn btn-info hidden" id="attendance_submit" type="button">确认提交</button>
          </div>
      </form>

        </div>



   #*     <button class="btn btn-info upOrDown_month"  value="1">上半月</button>
        <button class="btn btn-info upOrDown_month"  value="2">下半月</button>*#