      <br>
<div class="row" id="month_year">
    <select class="span2" name="year">
    <option value="2015" selected>2015</option>
    <option value="2016" >2016</option>
    <option value="2017" >2017</option>
    <option value="2018" >2018</option>
    <option value="2019" >2019</option>
    </select>年
    <select  class="span2" name="month">
    <option value="9" selected>9</option>
    <option value="10" >10</option>
    <option value="11" >11</option>
    <option value="12" >12</option>
    </select>月
</div>

<div style="width:100%; height:80%; overflow:auto; border:1px solid #000000;padding: 0px;">
      <form method="post" action="">
          <table class="formdata  table table-bordered ">
              <caption>考勤系统</caption>
              <thead>
                  <tr>
                      <th>序号</th>
                      <th>姓名</th>
                      <th scope="col">实际项目</th>
                      #foreach($item in $!month.dateList)
                          <th scope="col" class="date$!velocityCount">$item</th>
                      #end
                      <th scope="col">加班合计</th>
                  </tr>
              </thead>
              <tbody>
                  #foreach($!attend in $!list)
                  #set($t=$!velocityCount)
                      <tr scope="row" >
                          <td>$!t</td>
                          <td><input type="text" class="attend$!velocityCount$!t" value="$!attend.user.realName" style="width: 80px" readonly/></td>
                          <td><input type="text" class="attend$!velocityCount$!t" value="$!attend.project.projectName" style="width: 120px" readonly/></td>
                          #foreach($item in $!month.dateList)
                              #if($!item == $!attend.day)
                                  <td ><input type="text" class="attend$!velocityCount$!t " value="$!attend.workhours" readonly=$!attend.readonly /></td>
                              #else
                                  <td><input type="text" class="attend$!velocityCount$!t" readonly=$!attend.readonly /></td>
                              #end
                          #end
                          <td><input type="text" class="attend$!velocityCount$!t" value="$!attend.allOverhours" readonly/></td>
                      </tr>

                  #end
              </tbody>

          </table>
          <div class="pull-right">
              <button class="btn btn-info" value="">确认提交</button>
          </div>
      </form>

        </div>
   #*     <button class="btn btn-info upOrDown_month"  value="1">上半月</button>
        <button class="btn btn-info upOrDown_month"  value="2">下半月</button>*#