<!doctype html>
<html>
<head>
        <link rel="stylesheet" type="text/css"
              href="../resource/css/bootstrap.min.css" />
        <script type="text/javascript"
                src="../resource/js/jquery-2.1.4.js"></script>
        <script type="text/javascript"
                src="../resource/js/bootstrap.min.js"></script>
        <script type="text/javascript"
                src="../resource/js/bootstrap.js"></script>
    <script type="text/javascript"
            src="../resource/js/attendance.js"></script>

    <link rel="stylesheet" type="text/css" href="../resource/css/style.css" />
    <script type="text/javascript" src="../resource/js/index.js"></script>
    <script type="text/javascript" src="../resource/js/account.js"></script>
    <script type="text/javascript" src="../resource/js/permission.js"></script>
</head>
<body>
<div class="nav-top">
    <span>后台考勤管理系统</span>
    <div class="nav-topright">
        #*2015-04-15 22:33:50   登陆IP：192.168.1.1*#
        <p></p>
        <span>您好：管理员</span><span>注销</span>
    </div>
</div>
<div class="nav-down">
    <div class="leftmenu1">
        <div class="menu-oc"><img src="../resource/images/menu-all.png" /></div>
        <ul>
            <li>
                <a class="a_list a_list2">权限管理</a>
                <div class="menu_list">
                    <a href="../account/openAccount.do">创建账号</a>
                    #*<a href="#">基本权限</a>*#
                    <a href="../permission/getPermission.do">分配权限</a>
                    <a href="#">权限管理</a>
                    <a href="#">成员管理</a>
                </div>
            </li>
            <li>
                <a class="a_list a_list3">考勤管理</a>
                <div class="menu_list">
                    <a href="../attendance/findAttendance.do">考勤</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="leftmenu2">
        <div class="menu-oc1"><img src="../resource/images/menu-all.png" /></div>
        <ul>
            <li>
                <a class="j_a_list j_a_list2"></a>
                <div class="j_menu_list">
                    <span class="sp2"><i></i>权限管理</span>
                    <a href="../account/openAccount.do">创建账号</a>
                    #*<a href="#">基本权限</a>*#
                    <a href="../permission/getPermission.do">分配权限</a>
                    <a href="#">权限管理</a>
                    <a href="#">成员管理</a>
                </div>
            </li>
            <li>
                <a class="j_a_list j_a_list3"></a>
                <div class="j_menu_list">
                    <span class="sp3"><i></i>考勤管理</span>
                    <a href="../attendance/findAttendance.do">考勤</a>
                </div>
            </li>
        </ul>

    </div>
    <br>
    <div class="rightcon" style="height:600px">
        $!screen_content
    </div>
</div>
</body>

</html>