<html>
<head>
        <link rel="stylesheet" type="text/css"
              href="../resource/css/bootstrap.min.css" />
        <script type="text/javascript"
                src="../resource/js/jquery-2.1.4.js"></script>
        <script type="text/javascript"
                src="../resource/js/bootstrap.min.js"></script>
        <script type="text/javascript"
                src="../resource/js/bootstrap.js"></script>
    <script type="text/javascript"
            src="../resource/js/attendance.js"></script>
</head>
$!screen_content
</html>